<% content_for(:sidebar) do %>
    <%= render :partial => "layouts/sidebar" %>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading" style="background-color: #58781e;border-bottom: #f0ad4e 4px solid;font-family: Roboto;font-weight: 300;font-size: 17px;color: white;text-transform: uppercase;"><i class="fa fa-dashboard"></i> <%= @title %></div>
    <div class="panel-body">

        <div class="col-md-6">
        	<div class="card card-hover">
        		<div class="card-content">
        			<label><i class="fa fa-credit-card"></i> UANG MASUK BULAN INI</label>
        			<hr>
        			<label style="font-size: 20px">
                        <% if @data_uang_masuk.present? %>

                            <% c = @data_uang_masuk.map {|m| m.jumlah.to_i} %>
                            <%= number_to_currency(c.inject(0) {|sum,x| sum + x }, unit: "", separator: ",", delimiter: ".") %>

                        <% else %>  
                            0
                        <% end %>       
                    </label>
        		</div>
        	</div>
        </div>

        <div class="col-md-6">
        	<div class="card card-hover">
        		<div class="card-content">
        			<label><i class="fa fa-credit-card"></i> UANG KELUAR BULAN INI</label>
        			<hr>
        			<label style="font-size: 20px">
                        <% if @data_uang_keluar.present? %>

                            <% c = @data_uang_keluar.map {|m| m.jumlah.to_i} %>
                            <%= number_to_currency(c.inject(0) {|sum,x| sum + x }, unit: "", separator: ",", delimiter: ".") %>
                            
                        <% else %>  
                            0
                        <% end %>                         
                    </label>
        		</div>
        	</div>
        </div>
    
    </div>
</div>